body {
  color: black;
  background-color: #31152B;
}
.idea-box {
  background-color: #31152B;
  padding: 20px;
}
h1 {
  text-align: center;
  color: #CC4452;
  font-size: 50px;
  font-family: 'Raleway', sans-serif;

}

h2 {
  color: #468966;
  margin: 10px;
  padding: 10px;
  border: 2px solid #723147;
  border-radius: 5px;
  text-align: center;
  font-family: 'Raleway', sans-serif;

}

.time {
  display: block;
  color: #E6B098;
  font-size: 20px;
}


ul {
  list-style-type : none;
  margin : 0;
  padding :0;
  width : 200 px;
  background-color: #31152B;
}

li { float: left}

.Navigation {
      display :flex;
      justify-content:space-around;

}

li a {
  display :block;
  color: black;
  padding : 8 px 16 px;
  text-decoration: none;
}
.displayauthor{
  display: block;
  color: #E6B098;
  font-size: 20px;
}

.postId {
    display: none;
}

.text {
  display: block;
  color: #F9E4AD;
}

.likeButton {
  font-size: 20px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #CC4452;
  border: 2px;
  background-color: #723147;
  border-radius: 5px;
  text-decoration: none;
}
