body {
  color: black;
}
.idea-box {
  background-color: #FFF0A5;
  padding: 20px;
}
h1 {
  text-align: center;
  color: #FFB03B;
}

h2 {
  color: #468966;
  margin: 10px;
  padding: 10px;
  border: 2px solid #FFB03B;
  border-radius: 5px;
  text-align: center;
}

.time {
  color: #82eaa3;
  font-size: 20px;
}


ul {
  list-style-type : none;
  margin : 0;
  padding :0;
  width : 200 px;
  background-color: yellow;
}

li { float: left}

.Navigation {
      display :flex;
      justify-content:space-around;

}

li a {
  display :block;
  color: black;
  padding : 8 px 16 px;
  text-decoration: none;
}
.displayauthor{
  display: block;
  color: maroon;
  font-size: 20px;
}

.postId {
    display: none;
}
